In [44]:
import io 
from pathlib import Path
import pandas as pd
import requests

### csv_from_get_request_github

In [16]:
url ='https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
r = requests.get(url)
# returns an HTTPError object if an error has occurred during the process
r.raise_for_status()

In [15]:
#  df = pd.read_csv(io.StringIO(data), low_memory=False)unicode string => (u"And the Hipâ€™s coming, too")
data = r.content.decode('utf-8')

In [17]:
df = pd.read_csv(io.StringIO(data), low_memory=False)

In [19]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [23]:
# check for null values

In [24]:
df.isna().sum()

date          0
county        0
state         0
fips      23678
cases         0
deaths    57605
dtype: int64

In [25]:
# check for data types

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2502832 entries, 0 to 2502831
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   date    object
 1   county  object
 2   state   object
 3   fips    float64
 4   cases   int64
 5   deaths  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 114.6+ MB

In [29]:
df[df['state'] == 'Washington']['county'].value_counts()

Snohomish       844
Spokane         810
King            806
Walla Walla     803
Chelan          801
Clark           799
Jefferson       799
Pierce          799
Kittitas        798
Kitsap          797
Skagit          795
Whatcom         795
Island          794
Thurston        794
Columbia        793
Grays Harbor    793
Yakima          793
Grant           792
Klickitat       791
Lincoln         790
Lewis           790
Franklin        788
Mason           788
Benton          787
Clallam         786
Cowlitz         785
San Juan        785
Stevens         785
Whitman         783
Douglas         782
Adams           782
Ferry           780
Okanogan        780
Skamania        778
Pend Oreille    772
Asotin          771
Wahkiakum       770
Pacific         764
Garfield        671
Unknown         180
Name: county, dtype: int64

In [37]:
df[ df['county'] == 'Snohomish' ]['fips'].unique()

array([53061.])

In [39]:
def csv_from_get_request_github(url: str) -> pd.DataFrame:
    try:
        r = requests.get(url)
        r.raise_for_status()
        data = r.content.decode('utf-8')
        df = pd.read_csv(io.StringIO(data), low_memory=False)
        print("Data extracted successfully from the URL.")
        return df
    except requests.exceptions.RequestException as e:
        print(f"An error occurred during the GET request: {e}")

In [43]:
url = url ='https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
df = csv_from_get_request(url)

Data extracted successfully from the URL.

### csv_from_local

In [48]:
def csv_from_local(path: str) -> pd.DataFrame:
    try:
        df = pd.read_csv(path)
        print("Data read successfully from the local CSV file.")
        return df
    except FileNotFoundError as e:
        print(f"File not found at path: {path}")

In [50]:
path = '../data/raw_data/covid_raw_20220701.csv'
csv_from_local(path).head()

Data read successfully from the local CSV file.

         date     county       state   fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061      1     0.0
1  2020-01-22  Snohomish  Washington  53061      1     0.0
2  2020-01-23  Snohomish  Washington  53061      1     0.0
3  2020-01-24       Cook    Illinois  17031      1     0.0
4  2020-01-24  Snohomish  Washington  53061      1     0.0